@inject Microsoft.AspNetCore.Identity.UserManager<K101User> userManager
@model CheckoutVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    decimal totalPrice = 0;
}

@if (Model.Products != null && Model.Products.Count > 0)
{   
    <section class="checkout-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="user-actions">
                        <i class="bx bx-log-in-circle"></i>
                        <span>Returning customer? <a href="log-in.html">Click here to login</a></span>
                    </div>
                </div>
            </div>
            <form method="post" id="checkoutForm">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="billing-details">
                            <h3 class="title">Billing Details</h3>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label>First Name <span class="required">*</span></label>
                                        <input readonly type="text" name="FullName" value="@Model.K101User.FullName" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="form-group">
                                        <label>Address <span class="required">*</span></label>
                                        <input name="Address" id="Address" type="text" class="form-control">
                                    </div>
                                </div>
                                
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label>Email Address <span class="required">*</span></label>
                                        <input readonly name="Email" value="@Model.K101User.Email" type="email" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label>Phone <span class="required">*</span></label>
                                        <input readonly name="PhoneNumber" id="PhoneNumber" value="@Model.K101User.PhoneNumber"  type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="create-an-account">
                                        <label class="form-check-label" for="create-an-account">Create an account?</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="ship-different-address">
                                        <label class="form-check-label" for="ship-different-address">Ship to a different address?</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
<textarea name="notes" id="notes" cols="30" rows="5" placeholder="Order Notes" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="order-details">
                            <div class="order-table table-responsive">
                                <h3 class="title">Your Order</h3>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Product Name</th>
                                            <th scope="col">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var product in Model.Products)
                                        {
                                            var quantity = Model.ProductIds.Where(p => p == product.ID).Count();
                                            totalPrice += quantity * product.Price;
                                            <tr>
                                                <td class="product-name">
                                                    <a href="#">@product.Name x @quantity</a>
                                                </td>
                                                <td class="product-total">
                                                    <span class="subtotal-amount"> @(product.Price * quantity) Azn</span>
                                                </td>
                                            </tr>

                                        }

                                        <tr>
                                            <td class="order-subtotal">
                                                <span>Cart Subtotal</span>
                                            </td>

                                            @*<tr>
                                                    <td class="order-shipping">
                                                        <span>Shipping</span>
                                                    </td>
                                                    <td class="shipping-price">
                                                        <span>$5.00</span>
                                                    </td>
                                                </tr>*@
                                        <tr>
                                            <td class="total-price">
                                                <span>Order Total</span>
                                            </td>
                                            <td class="product-subtotal">
                                                <span class="subtotal-amount">@totalPrice Azn</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="payment-box">
                                <div class="payment-method">
                                    <p>
                                        <input type="radio" id="direct-bank-transfer" name="radio-group" checked="">
                                        <label for="direct-bank-transfer">Direct Bank Transfer</label>
                                        Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.
                                    </p>
                                    <p>
                                        <input type="radio" id="paypal" name="radio-group">
                                        <label for="paypal">PayPal</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="cash-on-delivery" name="radio-group">
                                        <label for="cash-on-delivery">Cash On Delivery</label>
                                    </p>
                                </div>
                                <a href="#" class="default-btn placeOrder">
                                    Place Order
                                    <i class="flaticon-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
}
else
{
    <div class="d-flex justify-content-center flex-column h-100 mt-5">
        <img class="m-auto" src="~/img/pngfind.com-cart-png-2727925.png" width="30%" alt="Alternate Text" />
        <p class="text-center alert alert-warning">Cart is Empty</p>
        <a class="btn btn-outline-primary" href="/">Go to Home</a>
    </div>

}

@section Scripts{ 
  <script>
      $(".placeOrder").click(function(e){

          var myData = $("#checkoutForm").serialize()
          console.log(myData)
          $.ajax({
              url: "/Products/Checkout",
              method: "post",
              data: myData,
              success: function () {
                  window.location.reload()
              }
          })

          e.preventDefault()
      })
  </script>

}